@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_AppLayout.cshtml";
}

<div>
<p>
    <a href="/App/Tasks/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].Component)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].GrandMaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].Master)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTask[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Component.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandMaster.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Master.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>